.active {
  text-decoration: underline;
  text-decoration-color: #5a67d8;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  font-weight: 600;
  color: #5a67d8;
  transition: all 0.3s ease;
}

html[data-theme='dark'] .active {
  text-decoration-color: #818cf8;
  color: #818cf8;
}
